body {
	font-family: sans-serif;
	padding: 30px;
	font-size: 12pt;
	line-height: 18pt;
	min-width: 980px;
}
h1 {
	margin: 0px 0px 20px 0px;
	text-align: center;
}
h1 > small {
	margin-top: 10px;
	font-size: 14pt;
	display: block;
}
h2 {
}
h3 {
}
h4 {
}

.data_table {
	border: 1px solid #000000;
	border-collapse: collapse;
}
.data_table tr > th {
	font-weight: bold;
}
.data_table tr > td, th {
	border: 1px solid #000000;
	padding: 4px;
	text-align: right;
}
.figure {
	border: 1px solid #BBBBBB;
	border-radius: 12px;
	padding: 6px;
	background-color: #FFFFFF;
	display: inline-block;
}
.right {
	float: right;
	margin-left: 8px;
}
.left {
	float: left;
	margin-right: 8px;
}
.center {
	display: inline-block;
}
.figure > div {
	font-style: italic;
}
.figure > div:first-child {
	text-align: center;
	border-bottom: 1px solid #BBBBBB;
	margin-bottom: 3px;
	padding-bottom: 3px;
}
.figure > div:last-child {
	text-align: center;
	border-top: 1px solid #BBBBBB;
	margin-top: 3px;
	padding-top: 3px;
}

code {
    white-space: pre;
	margin-top: 6px;
	margin-bottom: 6px;
	display: table;
	padding: 6px;
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	border-radius: 8px;
	font-weight: bold;
}
